<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="z-index: 10000;">
  <div class="container">    
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >
      <i class="fas fa-store brand-primary"></i> G
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >
            <i class="fas fa-home brand-primary"></i>             
            <span class="menu-text">Home</span></a>
        </li> -->

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/products']">
            <i class="fas fa-gift brand-primary"></i>
            <span class="menu-text">Products</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/gallery']">
            <i class="far fa-images  brand-primary"></i>
            <span class="menu-text">Photos</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/blog']">
            <i class="fas fa-upload  brand-primary"></i>
            <span class="menu-text">Social Network</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/videos']" routerLinkActive="router-link-active" >
            <i class="fas fa-film brand-primary"></i>             
            <span class="menu-text">Video</span></a>
        </li>

        <ng-template #anonymusUser>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">              
            <i class="fas fa-sign-in-alt brand-primary"></i>
            <span class="menu-text">Log in</span>
            </a>
          </li>
        </ng-template>
        
      </ul>

      <ul class="navbar-nav">
        <li *ngIf="appUser" ngbDropdown class="nav-item dropdown">

          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">           
            Graphs and Reports
          </a>

          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/admin/reports/products/rank']" routerLinkActive="active" >
              <i class="far fa-chart-bar brand-primary"></i>
              Graphs
            </a>

            <a class="dropdown-item" [routerLink]="['/under-construction']" routerLinkActive="active" >
              <i class="fas fa-file-contract brand-primary"></i>
              Reports
            </a>
          </div>


        </li>
      </ul>

      <ul class="navbar-nav">

        <li *ngIf="appUser; else anonymusUser" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img *ngIf="appUser.photoURL" [src]="appUser.photoURL" alt="appUser.displayName" 
            style="width: 20px; height: auto; border-radius: 100px; vertical-align: top;">
            <i *ngIf="!appUser.photoURL" class="fas fa-user brand-primary"></i>
            {{ appUser.displayName }}
          </a>
  
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/my/profile']" routerLinkActive="active" >
              <i class="far fa-address-card brand-primary"></i>
              My profile
            </a>

            
            <a class="dropdown-item" [routerLink]="['/my/orders']" routerLinkActive="active" >
              <i class="far fa-calendar-check  brand-primary"></i>
              My orders
            </a>
            
            <ng-container *ngIf="appUser.role == 'admin'" >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/admin/orders']" routerLinkActive="active" >
                <i class="far fa-list-alt brand-primary"></i>
                Manage Orders
              </a>
              <a class="dropdown-item" [routerLink]="['/admin/products']" routerLinkActive="active" >
                <i class="fas fa-boxes brand-primary"></i>
                Manage Products
              </a>
              
              <a class="dropdown-item" [routerLink]="['/admin/users']" routerLinkActive="active">
                  <i class="fas fa-users brand-primary"></i>
                  <span class="menu-text">Admin users</span>
                </a>
      

              <a class="dropdown-item" [routerLink]="['/admin/categories']" routerLinkActive="active">
                <i class="fas fa-grip-horizontal brand-primary"></i>
                Manage Categories
              </a>
              
            </ng-container>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">
              <i class="fas fa-door-open brand-primary"></i>
              <span class="menu-text">Log out</span>
            </a>
            </div>
          </li>
        
        <li *ngIf="appUser" class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="logout()" >
            <i class="fas fa-door-open brand-primary"></i>
            <span class="menu-text">Log out</span>
          </a>
        </li>

        <li class="nav-item float-right" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/shopping-cart']" routerLinkActive="router-link-active">
            <span *ngIf="cart$ | async as cart" class="badge badge-warning badge-pill">
              <i class="fas fa-shopping-cart"></i>
              {{ cart.totalItemsCount }}
            </span>
          </a>
        </li>        
      </ul>
    </div>
  </div>
</nav>