<div class="card">
  <a [routerLink]="['/products/detail/', product.key ]" >
    <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top img-fluid" [alt]="product.title">
  </a>
  <div class="like-rank" style="display: flex; justify-content: space-between;">    
    <div *ngIf="showActions && shoppingCart" >
      <ng-container *ngFor="let star of stars; let i=index">
        <i class="fas fa-star rank" *ngIf="i+1<=product.rank" (click)="setMyRank(i+1)"></i>
        <i class="far fa-star rank" *ngIf="!product.rank || i+1>product.rank"(click)="setMyRank(i+1)"></i>
      </ng-container>
    </div>

    <ng-container>
      <i *ngIf="!product.like" class="far fa-heart" (click)="toggleLike()"></i>
      <i *ngIf="product.like" class="fas fa-heart" [ngClass]="{'like': product.like}" (click)="toggleLike()"></i>
    </ng-container>
      
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.category }}</p>
    <p class="card-text">{{ product.price | currency : 'USD': 'symbol' }}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" (click)="addToCart()" class="btn btn-primary btn-block">Add to cart</button>
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [shopping-cart]="shoppingCart" ></product-quantity>
    </ng-template>
  </div>
</div>
