<div class="container">
  <div class="row">
    <div class="col-3">
      <product-filter [category]="categorySelected"></product-filter>
    </div>
    <div class="col">    
      <div class="row">        
        <div *ngIf="filteredProducts.length===0" class="col alert alert-warning" role="alert">
          No products found.
        </div>
        <ng-container *ngFor="let item of filteredProducts; let i = index ">          
          <div class="col">
            <product-card [product]="item" [show-actions]="true"></product-card>
          </div>
          <div *ngIf="(i+1) % 2 === 0" class="w-100"></div>  
        </ng-container>
      </div>    
    </div>
  </div>
  
</div>