<p style="text-align:right; padding-top: .625rem;">
  <a [routerLink]="['/admin/products/new']" class="btn btn-primary">Nuevo producto</a>
</p>
<p>
  <input type="text" class="form-control" placeholder="Buscar..."
         #query (keyup)="filter(query.value)">
</p>

<!-- [rowsPerPageOptions]="[5,10,25,50]"  -->
<p-table #dt [value]="filteredProducts" *ngIf="filteredProducts"
        [(selection)]="selectedProducts" 
        dataKey="uid" 
        styleClass="ui-table" 
        [rowHover]="true"
        [rows]="pagesize" 
        [showCurrentPageReport]="true" 
        [loading]="loading"
        [paginator]="true" 
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0" 
        [rowsPerPageOptions]="[5,10,25,50]"
        [globalFilterFields]="['title','category','price']"
        >
<ng-template pTemplate="caption"> List of Products
  <div class="ui-table-global-filter-container">
      <input pInputText type="text" 
            (input)="dt.filterGlobal($event.target.value, 'contains')" 
             placeholder="Global Search" />
  </div>
</ng-template>

  <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th >Img</th>
        <th pSortableColumn="title">Title<p-sortIcon field="title"></p-sortIcon></th>
        <th pSortableColumn="category">Category<p-sortIcon field="category"></p-sortIcon></th>
        <th pSortableColumn="price">Price<p-sortIcon field="price"></p-sortIcon></th>
        <th></th>
      </tr>

      <tr>
        <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
        <th></th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'title', 'startsWith')" placeholder="" class="ui-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'category', 'startsWith')" placeholder="" class="ui-column-filter">
        </th>
        <th>
          <input pInputText type="number" (input)="dt.filter($event.target.value, 'price', 'startsWith')" placeholder="" class="ui-column-filter">
        </th>
        <th></th>
      </tr>

  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr >
        <td>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>
        <td>
          <span class="ui-column-title">Image:</span>      
          <img *ngIf="item.imageUrl" [src]="item.imageUrl"  style="height: 30px; width: auto;" [alt]="item.title">
        </td>
        <td>
          <span class="ui-column-title">Name:</span>      
          {{ item.title }}</td>
        <td>
          <span class="ui-column-title">Category:</span>
          <span [class]="'product-badge status-' + item.category">{{item.category}}</span>
        </td>
        <td class="ui-column-price">
          <span class="ui-column-title">Price:</span>
          {{ item.price | currency:"USD": "symbol" }}
        </td>
        <td class="controls-right">
          <a class="btn btn-warning btn-sm" [routerLink]="['/admin/products/', item.key]" >Edit</a>
          &nbsp;
          <button class="btn btn-danger btn-sm" (click)="delete(item.key)" >Del</button></td>  
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    There are {{ filteredProducts?.length }} products
  </ng-template>
  
  <ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="6" style="text-align:center">
          <div class="alert alert-warning" role="alert">
            No products found.
          </div>
        </td>
    </tr>
  </ng-template>
  
</p-table>


<!-- tabla de bootstrap -->
<!-- <table  class="table table-striped table-hover  table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Img</th>
      <th>Title</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredProducts ">
      <td>
        <img *ngIf="item.imageUrl" [src]="item.imageUrl"  style="height: 30px; width: auto;" [alt]="item.title">
      </td>
      <td>{{ item.title }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.price | currency:"USD": "symbol" }}</td>
      <td><a class="btn btn-warning" [routerLink]="['/admin/products/', item.key]" >Edit</a></td>
      <td><button class="btn btn-danger" (click)="delete(item.key)" >Delete</button></td>
    </tr>
  </tbody>
</table> -->
