:host ::ng-deep .ui-table {

    .product-badge {
        &.status-vegetables {
            background-color: #C8E6C9;
            color: #256029;
        }
    
        &.status-fruits {
            background-color: #FFCDD2;
            color: #C63737;
        }
    
        &.status-bread {
            background-color: #FEEDAF;
            color: #8A5340;
        }
    
        &.status-dairy {
            background-color: #B3E5FC;
            color: #23547B;
        }
    
        &.status-seasonings {
            background-color: #ECCFFF;
            color: #694382;
        }
    
        &.status-proposal {
            background-color: #FFD8B2;
            color: #805B36;
        }
    }

    .ui-table-thead > tr > th {
        border: 0 none;
        text-align: left;
  
        &.ui-filter-column {
            border-top: 1px solid #c8c8c8;
        }
  
        &:first-child {
            width: 2em;
            text-align: center;
        }
  
        &:nth-child(2){
            width: 4rem;
            text-align: center;
        }
  
        &:nth-child(4){
            width: 10rem;
            text-align: center;
        }
        &:nth-child(5){
            width: 5rem;
            text-align: center;
        }
  
  
        &:last-child {
            width: 8em;
            text-align: center;
        }
    }
  
    .ui-table-tbody > tr > td {
        border: 0 none;
        cursor: auto;
  
        &:first-child {
            width: 3em;
            text-align: center;
        }
  
        &:last-child {
            width: 8em;
            text-align: center;
        }
  
        &.ui-column-price{
            width: 3em;
            text-align: right;
            padding-right: 20px;
        }
    }

  }
