<div class="container">
  <!-- <p><span>You selected: </span><b>{{selectControl.value}}</b></p>
  <button (click)="selectControl.setValue('desc')">Set Value</button> -->

  <h1 class="title">Grafica horizontal</h1>
  <select name="grap-type" id="grap-type"> 
    <option value="product-likes">Product likes</option>
    <option value="product-rank">Product Rank</option>
    <option value="sales-product">Product Sales</option>
    <option value="sales-product-category">Product Sales per category</option>
  </select>

  <select [formControl]="selectControl" (change)="changeOrder()" >
    <option value="desc">Desc</option>
    <option value="asc">Asc</option>
  </select>

  <div class="">
    <table>
      <thead>
        <th>Name</th>
        <th>Graph maxvalue: {{ maxValue }}</th>
        <th>Value</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; let i=index" >
          <td>{{item.name}}</td>
          <td>
            <div class="grap-bar" [ngStyle]="setStyleBar(item.value, i)" >
              {{ calcWidth(item.value, 7 ) }}%
            </div>
          </td>
          <td>{{item.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <table>
      <tr>
        <td>Total Items:</td>
        <td>{{ data.length }}</td>
      </tr>
      <tr>
        <td>Max value:</td>
        <td>{{maxValue}}</td>
      </tr>
      <tr>
        <td>Min value:</td>
        <td>{{minValue}}</td>
      </tr>
    </table>
  </div>


</div>
