<div class="container">
  <!-- <p><span>You selected: </span><b>{{selectControl.value}}</b></p>
  <button (click)="selectControl.setValue('desc')">Set Value</button> -->

  <h1 class="title">Grafica horizontal</h1>
  <select name="grap-type" id="grap-type"> 
    <option value="product-likes">Product likes</option>
    <option value="product-rank">Product Rank</option>
    <option value="sales-product">Product Sales</option>
    <option value="sales-product-category">Product Sales per category</option>
  </select>

  <select [formControl]="selectControl" (change)="changeOrder()" >
    <option value="desc">Desc</option>
    <option value="asc">Asc</option>
  </select>

  <div class="">
    <table>
      <thead>
        <th>Name</th>
        <th></th>
        <th></th>
        <th>Value</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; let i=index" >
          <td>{{item.name}}</td>
          <td colspan="2">
            <div class="grap-bar" [ngStyle]="setStyleBar(item.value, i)" >
              {{ calcBarWidth(item.value, 7 ) }}%
            </div>
          </td>
          <td>{{item.value}}</td>
        </tr>
    <tr class="summary">
        <td></td>
        <td></td>
        <td>Total Items:</td>
        <td>{{ summary.counter }}</td>
      </tr>
      <tr class="summary">
        <td></td>
        <td></td>
        <td>Max value:</td>
        <td>{{ summary.maxValue }}</td>
      </tr>
      <tr class="summary">
        <td></td>
        <td></td>
        <td>Min value:</td>
        <td>{{ summary.minValue }}</td>
      </tr>
      <tr class="summary">
        <td></td>
        <td></td>
        <td>Sum:</td>
        <td>{{ summary.sum }}</td>
      </tr>
      <tr class="summary">
        <td></td>
        <td></td>
        <td>Average:</td>
        <td>{{ summary.average | number:'1.0-2' }}</td>
      </tr>
    </tbody>
  </table>
  </div>

</div>
