<carousel [slides]="headerSlides" [bgblur]="false"></carousel>
<div class="container">
    <p>home works!</p>
    
    <i class="fas fa-camera"></i>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi sit quis dolores perferendis, blanditiis, ipsum cum enim ad a explicabo id voluptate odit, itaque illo eius ut libero iure quod?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi sit quis dolores perferendis, blanditiis, ipsum cum enim ad a explicabo id voluptate odit, itaque illo eius ut libero iure quod?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi sit quis dolores perferendis, blanditiis, ipsum cum enim ad a explicabo id voluptate odit, itaque illo eius ut libero iure quod?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi sit quis dolores perferendis, blanditiis, ipsum cum enim ad a explicabo id voluptate odit, itaque illo eius ut libero iure quod?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi sit quis dolores perferendis, blanditiis, ipsum cum enim ad a explicabo id voluptate odit, itaque illo eius ut libero iure quod?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi sit quis dolores perferendis, blanditiis, ipsum cum enim ad a explicabo id voluptate odit, itaque illo eius ut libero iure quod?</p>
  
    <div class="row">
      <div class="col-3"></div>
      <div class="col">
        <carousel [slides]="testimonialSlides" [bgblur]="true" style="height: 100px;"></carousel>
      </div>
      <div class="col-3"></div>
    </div>


  </div>