<div class="container" *ngIf="product">
  <div class="row" style="text-align: center; padding-bottom: .5rem;">
    Bread crumb header  {{ product.category }} -> {{ product.title }}
  </div>

  <div class="row">

    <div class="col-md-1" *ngIf="images.length > 0 ">
      <!-- <div *ngFor="let item of images; let i = index" >
        <img [src]="item" style="width: 75px; height: auto; padding: 5px;">
      </div> -->
      <!-- <ng-container *ngFor="let picture of images; let i = index" >
        <figure data-toggle="modal" data-target="#photoModal" (click)="setCurrentImg(picture)">
          <img [src]="picture" style="width: 100%; height: auto; padding: 1px;">
        </figure>
      </ng-container> -->
      <div class="row" style="display: flex; flex-direction: row; flex-flow: wrap;" >
        <gallery [pictures]="images" [title]="product.title" [direction]="'v'"></gallery>
      </div>
    </div>

    <div class="col-md-4" style="text-align: center;">
      <img [src]="product.imageUrl" [alt]="product.title" style="width: 90%; height: auto;">

      <p>Price: {{ product.price | currency: 'USD' : 'symbol' }} <small> {{ product.unit || '' }} </small></p>

      <div *ngIf="shoppingCart" class="card-footer">
        <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" (click)="addToCart()" class="btn btn-primary btn-block">Add to cart</button>
        <ng-template #updateQuantity>
          <product-quantity [product]="product" [shopping-cart]="shoppingCart" ></product-quantity>
        </ng-template>
      </div>

    </div>

    <div class="col-md-6">
      <h2>Name: {{product.title}}</h2>
      <h3>Category: {{product.category}}</h3>
      <p style="text-align: justify;">{{ product.description || 'No description' }}</p>      
      <div class="like-rank" style="display: flex; justify-content: space-between;">    
        <h4>Price: {{ product.price | currency: 'USD' : 'symbol' }} <small> {{ product.unit || '' }} </small></h4>
        <ng-container>
          <i *ngIf="!product.like" class="far fa-heart" (click)="toggleLike()"></i>
          <i *ngIf="product.like" class="fas fa-heart" [ngClass]="{'like': product.like}" (click)="toggleLike()"></i>
        </ng-container>

        <div>
          <ng-container *ngFor="let star of stars; let i=index">
            <i class="fas fa-star rank" *ngIf="i+1<=product.rank" (click)="setMyRank(i+1)"></i>
            <i class="far fa-star rank" *ngIf="!product.rank || i+1>product.rank"(click)="setMyRank(i+1)"></i>
          </ng-container>
        </div>
    
      </div>

    </div>
  </div>

</div>

<!-- Modal -->
<!-- <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" *ngIf="product">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">{{product.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
          </span>
        </button>
      </div>
      <div class="modal-body" style="align-content: center;">
        <img [src]="currentImage" [alt]="currentImage" style="width: 29rem;">
      </div>
    </div>
  </div>
</div> -->