<div class="footer" style="display: flex; flex-direction: row; justify-content: space-between;">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="\contactus">Contact us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Private</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Otros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="\location">Location</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
  <ul class="nav">
    <li class="nav-item">
      <span class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">&copy; 2020 greatecomerce </span>
    </li>
  </ul>
</div>