<div class="footer navbar-dark bg-dark" style="display: flex; flex-direction: row; justify-content: space-between;">
  <ul class="nav navbar-dark bg-dark " style="justify-content: flex-start;">
    <li class="nav-item">
      <a class="nav-link" href="\contactus">
        <span class="footer-link">Contact us</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="\under-construction"><span class="footer-link">Aviso de privacidad</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="\videos"><span class="footer-link">Videos</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="\location"><span class="footer-link">Location</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="\under-construction" tabindex="-1" aria-disabled="true">Condiciones de uso</a>
    </li>
  </ul>

  <div>
    <span class="nav-link disabled copyright"><small> &copy;{{ copyright }} </small></span>
  </div>
  
  <ul class="nav navbar-dark bg-dark" style="justify-content: flex-end;"  >
    <li class="nav-item">
      <a class="nav-link" href="\under-construction">
        <i class="fab fa-facebook brand-primary"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="\under-construction">
        <i class="fab fa-twitter brand-primary"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="\under-construction">
        <i class="fab fa-whatsapp brand-primary"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="\under-construction">
        <i class="fab fa-youtube brand-primary"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="\under-construction">
        <i class="fab fa-instagram brand-primary"></i>
      </a>
    </li>


    <!-- <li class="nav-item">
      <span class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><small> &copy;{{ copyright }} </small></span>
    </li> -->
  </ul>  
</div>