<div class="footer">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="\contactus">Contact us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Private</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Otros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="\location">Location</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</div>