/* You can add global styles to this file, and also import other style files */
 /* @import "~font-awesome/css/font-awesome.css"  */
//  @import "assets/styles/table-style.scss";

 $primary-color: rgb(98, 204, 12);
 $primary-color-hover: rgb(94, 255, 0);

 .container{ 
  width:100%;
  padding-top: 10px; 

  // margin-right: 0;
  // margin-left: 0;
  // padding-right: .1rem;
  // margin-right: .1rem;
}

.grid-container{ 
  width:100%;
  padding-top: 10px; 

  margin-left: 0;
  // margin-right: 0;
  // padding-right: .1rem;
  // margin-right: .1rem;
}

.brand-primary{
  color: $primary-color;
}

.nav-item:hover .nav-link .menu-text{
  color: $primary-color-hover;
}

.menu-text{
  padding-left: 5px;
  padding-right: 15px;
}

.nav-item:hover .brand-primary { 
  color: $primary-color-hover; 
}

.list-group-item.active{
  background-color: $primary-color;
  border-color: $primary-color;
}

.card{
  min-width: 210px;
}

.menu{
  font-size: .9rem;
  margin: 0;
  width: 100%;
  min-width: 100px;
}

td.currency{
  text-align: right;
  padding-right:30px;
}

th.total{
  text-align: right;
  padding-right:30px;
} 

.icon-center{
  min-width: 40px;
}

.category-status-green {
  background-color: #C8E6C9;
  color: #256029;
}

.category-status-red {
  background-color: #FFCDD2;
  color: #C63737;
}

.category-status-brown {
  background-color: #FEEDAF;
  color: #8A5340;
}

.category-status-blue {
  background-color: #B3E5FC;
  color: #23547B;
}

.category-status-purple {
  background-color: #ECCFFF;
  color: #694382;
}

.category-status-brown2 {
  background-color: #FFD8B2;
  color: #805B36;
}