<div class="container">
  <h2>Great ecommerce blog</h2>
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header" *ngIf="currentUser">
          <img  *ngIf="currentUser.photoURL" [src]="currentUser.photoURL" class="user-photo" [alt]="currentUser.displayName">
          {{ currentUser.displayName }}
          Create post
        </div>
        <div class="card-body">
          <p class="card-text">
            <textarea name="post" id="post" cols="65" rows="4" [(ngModel)] = "newPost" placeholder="¿Que estas pensado?"></textarea>
          </p>
          <button class="btn btn-primary float-right" (click)="publishPost()">Publish</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
     <div class="col-md-10">

        <ng-container *ngFor="let post of posts">
          <blog-post [post]="post" [user]="this.currentUser"></blog-post>
        </ng-container>

      </div>
    </div>

</div>
